<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown Timer</title>
</head>
<body>
    <form action="">
        <p id="countdown"></p>
    </form>
    <script>
         
    </script>
                <% for(let j=0; j<(quizArray[i].enteredOptions.length); j++){ %>
                    <div>&nbsp;&nbsp;&nbsp;<%=quizArray[i].enteredOptions[j]%></div>
                <% } %>
</body>
</html>


<% for(let i = 3; i < quizArray.length; i++) { %>
    <form action="/studentLogin/<%= id %>/MAT231CT/response" method="post" id="quesForm<%= i %>">
        <div>
            <div><%= i - 2 %>&nbsp;<%= quizArray[i].question %></div><br>
            <% let arr = []; %>
            <% for (const key in quizArray[i].correctOrWrong) { %>
                <% if (quizArray[i].correctOrWrong[key] === '001') { %>
                    <% arr.push(key); %>
                <% } %>
            <% } %>
            <% if (arr.length > 1) { %>
                <% for (let j = 0; j < quizArray[i].enteredOptions.length; j++) { %>
                    &nbsp;&nbsp;&nbsp; <input type="checkbox" name="option<%= i %>" value="<%= j %>">&nbsp;
                    <label for="option<%= i %>"><%= quizArray[i].enteredOptions[j] %></label><br><br>
                <% } %>
            <% } else { %>
                <% for (let j = 0; j < quizArray[i].enteredOptions.length; j++) { %>
                    &nbsp;&nbsp;&nbsp; <input type="radio" name="option<%= i %>" value="<%= j %>">&nbsp;
                    <label for="option<%= i %>"><%= quizArray[i].enteredOptions[j] %></label><br><br>
                <% } %>
            <% } %>
        </div> <br><br><br>
    </form>
<% } %>