<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizApp</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between; box-shadow: 2px 3px 3px #666;border: 2px solid white;">
        <div style="padding-left: 230px;"><h2>QuizApp</h2></div>
        <div style="display: flex; justify-content: center; align-items: center; padding-right: 230px;">
            <form action="/login" method="get">
                <button style="background: none; cursor: pointer;">Login</button>
            </form>
        </div>
        
    </div>
   
</body>
</html>