<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/template.css">
</head>
<body>
    <div class="container">
    <form action="/teacherLogin/<%= id %>/quizTemplate" method="post" class="form-group">
        <button class="upload-btn">Download questions template</button>
    </form><br><br><br>
    <form action="/teacherLogin/<%=id%>/uploadFile" method="post" enctype="multipart/form-data" class="form-group">
        <h3>Upload a Questions File:</h3>
        <br><br>
        <input type="file" name="edittedFile" id="edittedFile" accept=".docx">
        (Max fileSize: 450kb)
        <button type="submit" class="submit-btn">Submit the file</button>
    </form>
</div>
</body>
</html>