<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/teacherLogin/<%= id %>/quizTemplate" method="post">
        <button>Download questions template</button>
    </form><br><br><br>
    <form action="/teacherLogin/<%=id%>/uploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="edittedFile" id="edittedFile" accept=".docx">
        (max fileSize: 450kb)
        <button type="submit">submit</button>
    </form>
</body>
</html>