<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <% if(length != 0){ %>
        <form action="/studentLogin/<%=id%>/MAT231CT/quiz" method="get">
            <button>start quiz</button>
        </form>
    <% } %>
    Analytics:
</body>
</html>