<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CY</title>
    <link rel="stylesheet" href="/css/branchDetails.css">
</head>
<body>
    <h1>Cyber-Security</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <% for (subStud of subStudArr) { %>
                <tr>
                    <td><%= subStud.email%></td>
                    <td><%= subStud.username %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>